.modal_close {
  position: absolute;
  cursor: pointer;
  top: 0px;
  right: 0px;
  background: red;
  border-bottom-left-radius: 90%;
  border-top-right-radius: 40%;
  
  &:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(14, 150, 184, 0.445)
  }
}