.button_close {
  position: absolute;
  cursor: pointer;
  top: 0px;
  right: 0px;
  background: rgb(194, 0, 0);
  border-bottom-left-radius: 90%;
  border-top-right-radius: 40%;
  
  &:focus {
    outline: none;
  }

  &:hover {
    box-shadow: 0 0 10px rgb(56, 174, 221);
  }

}