@import '../vendor/normalize.css';
@import './header/header.scss';
@import './users/users.scss';
@import './table/table.scss';
@import './user-table/user-table.scss';
@import './button/button.scss';

.wrapper {
  max-width: 100%;
  text-align: center;
  color: rgb(42, 42, 42);
  background: rgb(226, 226, 226);
  margin: 0 auto;
  padding: 20px 0;
}