transition.modal-fade
  #modal-form.modal-mask
    form.form(required)
      input.form__item(type="text" placeholder="Петров ВС")
      input.form__item(type="text" placeholder="Дата рождения")
      input.form__item(type="text" placeholder="Место рождения")
      input.form__item(type="text" placeholder="Email")
      input.form__item(type="text" placeholder="Номер телефона")
      input.form__item.form__item_add(type="button" value="+")