main.content
  section.user
    table.table
      tr.table__elem
        th.table__title Фамилия ИО
        th.table__title Дата рождения
        th.table__title Место рождения
        th.table__title Email
        th.table__title Телефон
        th.table__title Дата регистрации
        th.table__title Последнее посещение сайта
      tr.table__elem
        td.table__item Шкарупа ВС
        td.table__item 20.12.1995
        td.table__item Владивосток
        td.table__item viktor.shkarupa@yandex.ru
        td.table__item 79990573241
        td.table__item 03.10.2020
        td.table__item 03.10.2020
      tr.table__elem
        td.table__item Шкарупа ВС
        td.table__item 20.12.1995
        td.table__item Владивосток
        td.table__item viktor.shkarupa@yandex.ru
        td.table__item 79990573241
        td.table__item 03.10.2020
        td.table__item 03.10.2020
      tr.table__elem
        td.table__item Шкарупа ВС
        td.table__item 20.12.1995
        td.table__item Владивосток
        td.table__item viktor.shkarupa@yandex.ru
        td.table__item 79990573241
        td.table__item 03.10.2020
        td.table__item 03.10.2020