main.content
  section.users
    .table.user-table
      .user-table__row 
        for item in ['Фамилия ИО', 'Дата рождения', 'Место рождения', 'Email', 'Телефон', 'Дата регистрации', 'Последнее посещение сайта', 'Редактировать', 'Удалить']
          p.user-table__title= item
      .user-table__row
        p.user-table__item Шкарупа ВС
        p.user-table__item 20.12.1995
        p.user-table__item Владивосток
        p.user-table__item viktor.shkarupa@yandex.ru
        p.user-table__item 79990573241
        p.user-table__item 03.10.2020
        p.user-table__item 03.10.2020
        p.user-table__item
          button.button Редактировать
        p.user-table__item
          button.button Удалить
      .user-table__row
        p.user-table__item Шкарупа ВС
        p.user-table__item 20.12.1995
        p.user-table__item Владивосток
        p.user-table__item viktor.shkarupa@yandex.ru
        p.user-table__item 79990573241
        p.user-table__item 03.10.2020
        p.user-table__item 03.10.2020
        p.user-table__item
          button.button Редактировать
        p.user-table__item
          button.button Удалить
      .user-table__row
        p.user-table__item Шкарупа ВС
        p.user-table__item 20.12.1995
        p.user-table__item Владивосток
        p.user-table__item viktor.shkarupa@yandex.ru
        p.user-table__item 79990573241
        p.user-table__item 03.10.2020
        p.user-table__item 03.10.2020
        p.user-table__item
          button.button Редактировать
        p.user-table__item
          button.button Удалить