main.content
  section.users
    button.button.button_add Добавить пользователя
    .table.user-table
      .user-table__row 
        for item in ['Фамилия ИО', 'Дата рождения', 'Место рождения', 'Email', 'Телефон', 'Дата регистрации', 'Последнее посещение']
          p.user-table__title= item
      .user-table__row
        p.user-table__item Шкарупа ВС
        p.user-table__item 20.12.1995
        p.user-table__item Владивосток
        p.user-table__item viktor.shkarupa@yandex.ru
        p.user-table__item 79990573241
        p.user-table__item 03.10.2020
        p.user-table__item 03.10.2020
        p.user-table__item
          button.button.button_edit Редактировать
        p.user-table__item
          button.button.button_delete Удалить
      .user-table__row
        p.user-table__item Шкарупа ВС
        p.user-table__item 20.12.1995
        p.user-table__item Владивосток
        p.user-table__item viktor.shkarupa@yandex.ru
        p.user-table__item 79990573241
        p.user-table__item 03.10.2020
        p.user-table__item 03.10.2020
        p.user-table__item
          button.button.button_edit Редактировать
        p.user-table__item
          button.button.button_delete Удалить
      .user-table__row
        p.user-table__item Шкарупа ВС
        p.user-table__item 20.12.1995
        p.user-table__item Владивосток
        p.user-table__item viktor.shkarupa@yandex.ru
        p.user-table__item 79990573241
        p.user-table__item 03.10.2020
        p.user-table__item 03.10.2020
        p.user-table__item
          button.button.button_edit Редактировать
        p.user-table__item
          button.button.button_delete Удалить
    include form
    