main.content
  section.users
    button.button.button_add Добавить пользователя
    .table.user-table
      .user-table__row 
        for item in ['Фамилия ИО', 'Дата рождения', 'Место рождения', 'Email', 'Телефон', 'Дата регистрации', 'Последнее посещение']
          p.user-table__title= item
    include addform
    include editForm
    include modal
    