@import './_add/button_add.scss';
@import './_delete/button_delete';
@import './_edit/button_edit';
@import './__container/button__container.scss';

.button {
  padding: .2rem 1rem;
  background: rgb(37, 47, 72);
  color: rgba(204, 204, 204, 0.712);
  letter-spacing: .5px;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;

  &:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(14, 150, 184, 0.445)
  }
}

@import './_cancel/button_cancel.scss';
@import './_confirm/button_confirm.scss';