include ../../node_modules/bempug/index

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="<%=htmlWebpackPlugin.files.css%>")
  body
    h1 Hello, PUG!
    p Ok, It's work!

    script(src="<%= htmlWebpackPlugin.files.js %>")