@import './_add/form__item_add.scss';

.form__item {
  width: 50%;
  border: 1px solid #07079b;
  border-radius: 50px;
  margin: 12px auto;
  padding: 0.5rem 1rem;

  &:focus {
    outline: none;
    box-shadow: 0 0 10px rgb(141, 141, 138);
  }
}

.form__item:invalid:not(:placeholder-shown) {
	border-color: #df4b41;
}

.form__item:invalid:not(:placeholder-shown) + .form__error {
	display: block;
}