@import './__item/form__item.scss';

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 25%;
  min-height: 300px;
  background-color: rgba(255, 255, 255, .9);
  border: 2px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  border-radius: 20px;
  margin: 50px auto 0;
  padding: 3rem 0;
  

  &:hover {
    box-shadow: 0 0 10px rgb(56, 174, 221);
  }
}